/*2017 Chris Gonzalez*/
body{
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
    background-color: #b3d9ff;
}
h1{
    font-size: 3em;
}
table{
    margin: auto;
    font-size: 1.5em;
}

